.dataset-discovery-drawer {
    .ant-drawer-header {
        padding: 0;
        flex-shrink: 0;

        .ant-drawer-header-title {
            overflow: hidden;

            .ant-drawer-title {
                overflow: hidden;

                .ant-page-header {
                    padding-top: 6px;
                    margin-top: -4px;

                    .ant-page-header-content {
                        padding-top: 0;
                        margin-top: -4px;
                        .ant-breadcrumb {
                            font-size: 13px;
                        }
                    }

                    .ant-page-header-footer {
                        margin-top: 5px;
                    }
                }
            }
        }
    }

    .ant-drawer-body {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding: 10px 5px 24px 24px;
    }
}
