.dataset-discovery-drawer {
    .ant-drawer-header {
        padding: ~'@{paddingXS}px @{padding}px 0 @{padding}px';
        flex-shrink: 0;

        .ant-drawer-header-title {
            overflow: hidden;

            .ant-drawer-title {
                overflow: hidden;

                .dataset-discovery-drawer-title {
                    display: flex;
                    align-items: center;

                    .ant-btn {
                        margin-right: ~'@{marginXS}px';
                    }
                }

                .dataset-discovery-drawer-provider-selector {
                    font-size: ~'@{fontSize}px';
                    font-weight: normal;
                    padding-top: ~'@{paddingXS}px';
                    padding-left: ~'@{paddingXS}px';

                    .ant-tabs {
                        .ant-tabs-nav {
                            margin: 0;
                            &::before {
                                display: none;
                            }
                        }
                    }
                }

                .ant-page-header {
                    padding-top: 6px;
                    margin-top: -4px;

                    .ant-page-header-content {
                        padding-top: 0;
                        margin-top: -4px;
                        .ant-breadcrumb {
                            font-size: 13px;
                        }
                    }

                    .ant-page-header-footer {
                        margin-top: 5px;
                    }
                }
            }
        }
    }

    .ant-drawer-body {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding: 10px 5px 24px 24px;

        .app-breadcrumb {
            padding: 0;
            box-shadow: none;
            background: transparent;
        }
    }
}
