
@import '~@oidajs/ui-react-core/styles/utils/scrollbar';

@data-collection-list-item-bg: lighten(@component-background, 3%);
@data-collection-list-item-border-color: lighten(@component-background, 10%);
@data-collection-list-item-hover-bg: @table-row-hover-bg;
@data-collection-list-item-selected-bg: @table-selected-row-bg;
@data-collection-list-item-margin-bottom-md: 10px;
@data-collection-list-item-margin-bottom-sm: 5px;

.data-collection-list-items.ant-list {

    .scrollbar(8px, @primary-color, @primary-2);

    display: flex;
    flex-direction: column;
    overflow: hidden;

    .ant-spin-nested-loading {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .ant-spin-container {
            overflow: auto;
            scroll-behavior: smooth;
            padding-right: 0.5rem;
        }
    }

    .ant-list-item {

        cursor: pointer;
        user-select: none;
        border: solid 1px @data-collection-list-item-border-color;

        background: @data-collection-list-item-bg;
        margin-bottom: @data-collection-list-item-margin-bottom-md;

        &.hovered {
            background-color: @data-collection-list-item-hover-bg;
        }

        &.selected {

            &:not(.hovered) {
                background-color: @data-collection-list-item-selected-bg;
            }

            &.hovered {
                background-color: lighten(@data-collection-list-item-selected-bg, 10%);
            }
        }

        &.is-drop-hover {
            &.can-drop {
                border-style: dashed;
                border-color: @primary-color;;
            }
        }

        .ant-list-item-meta-title {
            margin-bottom: 0px;
        }

        .ant-list-item-meta-description {
            font-size: @font-size-sm;
        }

        .ant-avatar {
            font-size: 20px;
        }

        .ant-list-item-action {

            margin-left: 16px;

            .ant-btn {
                padding: 0 4px;

                .anticon {

                    svg {
                        shape-rendering: auto;
                    }
                }
            }

        }

        .action-content {
            display: none;
        }
    }

    &.ant-list-sm {
        .ant-list-item {
            margin-bottom: @data-collection-list-item-margin-bottom-sm;
        }
    }

    &.ant-list-vertical {
        .ant-list-item-action {
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;

            li {
                padding: 0 8px;

                .action-content {
                    margin-left: 6px;
                    display: inline-block;
                }
            }
        }
    }

}
