@mixin scrollbar($size, $thumb, $track: lighten($thumb, 25%)) {

    //webkit
    &::-webkit-scrollbar {
        width:  $size;
        height: $size;
    }

    &::-webkit-scrollbar-thumb {
        background: $thumb;
        border-radius: $size / 2;
    }

    &::-webkit-scrollbar-track {
        background: $track;
        border-radius: $size / 2;
    }

    //Firefox
    scrollbar-color: $thumb $track;
    @if($size <= 15px) {
        scrollbar-width: thin;
    } @else {
        @if($size < 1px) {
            scrollbar-width: none;
        }
        @else {
            scrollbar-width: auto;
        }
    }

    //IE
    scrollbar-face-color: $thumb;
    scrollbar-track-color: $track;
    scrollbar-arrow-color: $thumb;
    scrollbar-shadow-color: darken($thumb, 20%);
    scrollbar-darkshadow-color: darken($thumb, 30%);
    scrollbar-highlight-color: lighten($thumb, 10%);


}
