.ant-btn {
    &.ant-btn-icon-only {
        border-radius: @ant-icon-btn-border-radius;
    }
}
.ant-drawer {
    .ant-drawer-content {
        .ant-drawer-header {
            background: @ant-drawer-header-bg;
            color: @ant-drawer-header-color;
            border-bottom: @ant-drawer-header-border;

            .ant-drawer-title {
                color: @ant-drawer-header-color;
            }
        }
    }
}
