.dataset-dimension-raster-sequence {

    align-self: stretch;
    flex-grow: 1;
    overflow: hidden;

    .dataset-chart-result {
        flex-grow: 1;
        position: relative;
        overflow: hidden;

        .dataset-dimension-raster-sequence-chart {
            display: flex;
            flex-direction: column;
            align-self: stretch;
            flex-grow: 1;
            overflow: hidden;

            .dataset-raster-sequence-selectors {

                display: flex;

                .dataset-colormap-selector {
                    padding: 10px 20px;
                    flex-grow: 1;
                }

                .dataset-raster-sequence-settings {
                    display: flex;
                    flex-direction: column;
                    padding-left: 20px;
                    border-left: solid 1px #4d4d4d;
                    margin-left: 10px;
                    margin-right: 20px;

                    .dataset-raster-sequence-stats-mode-controls {
                        margin-top: 10px;
                    }

                }
            }

            .dataset-raster-sequence-item {

                display: flex;
                align-items: stretch;

                .raster-sequence-thumb {
                    margin: 10px;
                    border: solid 1px @border-color-base;
                    width: 250px;
                    flex-grow: 1;

                    img {
                        width: 100%;
                        object-fit: contain;
                        image-rendering: pixelated;
                    }

                    .raster-sequence-thumb-caption {
                        margin-top: 5px;
                        text-align: center;
                    }
                }

                .dataset-sequence-item-histogram {
                    width: 250px;

                    .chart {
                        height: 250px;
                        position: relative;
                    }
                    .chart-ops {
                        display: none;
                    }
                }

                .dataset-sequence-item-stats-table {
                    width: 200px;
                    margin: 10px;
                    overflow: auto;

                    .ant-descriptions-item {
                        padding-bottom: 0;

                        .ant-descriptions-item-label {
                            font-size: 13px;
                        }

                        .ant-descriptions-item-content {
                            font-size: 13px;
                        }
                    }
                }
            }

            .dataset-raster-sequence-grid {
                display: flex;
                flex-wrap: wrap;
                overflow: auto;

                &.is-detailed {

                    flex-wrap: nowrap;
                    flex-direction: column;

                    .dataset-sequence-item-histogram {
                        display: block;
                    }

                    .dataset-sequence-item-stats-table {
                        display: block;
                    }
                }

                &:not(.is-detailed) {
                    .dataset-sequence-item-histogram {
                        display: none;
                    }

                    .dataset-sequence-item-stats-table {
                        display: none;
                    }
                }
            }


            .dataset-raster-sequence-player {
                padding: 0 20px;
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                overflow: hidden;

                .dataset-raster-sequence-item {
                    overflow: hidden;

                    .raster-sequence-thumb {
                        overflow: hidden;

                        img {
                            max-height: 100%;
                        }

                        .raster-sequence-thumb-caption {
                            display: none;
                        }
                    }

                    .dataset-sequence-item-histogram {
                        flex-grow: 1;
                        position: relative;
                        overflow: hidden;
                        min-width: 200px;

                        .chart {
                            height: 100%;
                            overflow: hidden;
                        }
                        .chart-ops {
                            display: none;
                        }
                    }
                }

                .dataset-raster-sequence-player-slider {
                    padding: 10px 100px;
                }

                .dataset-raster-sequence-player-slider-stats {

                    padding-top: 10px;

                    height: 300px;
                    position: relative;
                    flex-shrink: 0;
                    display: flex;

                    .dataset-sequence-stats-slider {

                        flex-grow: 1;

                        .chart {
                            height: 100%;
                        }
                        .chart-ops {
                            display: none;
                        }
                    }

                    .dataset-sequence-item-stats-table {
                        width: 200px;
                        flex-grow: 0;
                        flex-shrink: 0;

                        .ant-descriptions-item {
                            padding-bottom: 0;

                            .ant-descriptions-item-label {
                                font-size: 13px;
                            }

                            .ant-descriptions-item-content {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
}
