.map-raster-point-info {
    padding: 1em;

    .map-raster-point-info-location {
        margin-bottom: 0.5em;
    }

    .ant-collapse {
        .ant-collapse-item {
            .ant-collapse-header {
                padding: 4px 16px;

                .ant-badge {
                    max-width: 100%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                .ant-collapse-arrow {
                    padding: 4px 4px;
                }
            }

            .ant-collapse-content-box {
                padding: 6px 10px 10px 10px;

                .ant-descriptions-small {
                    .ant-descriptions-row {
                        td {
                            padding-bottom: 0px;
                        }
                    }
                }
            }
        }
    }
}
