.timeline {
    background: @timeline-bg;

    .vis-timeline {
        border: none;

        .vis-panel {
            border-color: @colorBorderSecondary;

            &.vis-left {
                .vis-content {
                    min-width: @timeline-labels-section-min-width;
                    max-width: @timeline-labels-section-max-width;
                    width: fit-content;
                    padding-left: 15px;
                    box-sizing: border-box;

                    .vis-labelset {
                        .vis-label {
                            font-size: @timeline-label-font-size;
                            color: @timeline-label-color;
                            border: none;
                            box-shadow: 0 -1px 0 @colorBorderSecondary;

                            .vis-inner {
                                width: 100%;
                                padding: 2px 5px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                box-sizing: border-box;
                            }
                        }
                    }
                }
            }

            &.vis-bottom {
                background: @timeline-calendar-bg;
            }

            .vis-foreground .vis-group {
                box-shadow: 0 -1px 0 @colorBorderSecondary;
                border: none;
                cursor: pointer;

                &:hover {
                    background-color: @timeline-row-hover-bg;
                }
            }

            .vis-time-axis {
                .vis-grid {
                    &.vis-major {
                        border-color: @colorBorderSecondary;
                    }
                    &.vis-minor {
                        border-color: @colorBorderSecondary;
                    }
                }

                .vis-text {
                    padding: 1px;

                    &.vis-major {
                        color: @colorText;
                        font-size: 0.8rem;
                    }

                    &.vis-minor {
                        color: @colorTextSecondary;
                        font-size: 0.7rem;
                    }
                }
            }

            .vis-item {
                &.vis-range {
                    // ensure a min pixel width
                    padding-right: @timeline-range-item-min-width;
                    left: -(@timeline-range-item-min-width / 2);
                    box-sizing: content-box;

                    .vis-item-overflow {
                        height: 6px;
                        .vis-item-content {
                            padding: 0;
                        }
                    }

                    &.is-loading {
                        display: flex;
                        padding: 1px;
                        opacity: 0.6;

                        .vis-item-overflow {
                            background: rgba(black, 0.4);
                            animation: range-load-animation 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
                            height: 2px;
                        }
                    }

                    &.is-error {
                        background-color: rgba(255, 0, 0, 0.2) !important;
                    }
                }

                &.vis-point {
                    height: 8px;
                    width: 8px;
                    border-radius: 4px;
                    margin-left: -4px;
                    box-sizing: border-box;

                    .vis-item.vis-dot {
                        display: none;
                    }

                    .vis-item-content {
                        padding: 0;
                    }
                }

                &.editable-range {
                    background-color: @timeline-range-bg;
                    border: @timeline-range-border;
                    border-bottom: none;
                    cursor: grab;

                    &:hover {
                        background-color: @timeline-range-bg-hover;
                    }
                    &.dragging {
                        cursor: grabbing;
                    }
                }
            }

            .vis-custom-time {
                background-color: @timeline-cursor-color;
                width: @timeline-curosr-width;
                margin-left: -(@timeline-curosr-width / 2);
                cursor: ew-resize;
                box-shadow: 1px -1px 3px #000000a6;
                border-radius: @timeline-cursor-border-radius;
                height: 46px !important;
                bottom: 0px !important;
                top: auto !important;

                &:hover {
                    width: @timeline-cursor-width-hover;
                    margin-left: -(@timeline-cursor-width-hover / 2);
                    z-index: 2;
                }
            }
        }
    }

    &.groups-labels-hidden {
        .vis-timeline {
            .vis-panel.vis-left {
                display: none;
            }
        }
    }

    &.groups-labels-overlay {
        .vis-timeline {
            .vis-panel.vis-left {
                overflow: visible;
                width: 0px;
            }
        }
    }
}

@keyframes range-load-animation {
    0% {
        margin-left: 0px;
        margin-right: 100%;
    }
    50% {
        margin-left: 25%;
        margin-right: 0%;
    }
    100% {
        margin-left: 100%;
        margin-right: 0;
    }
}
