.wms-discovery-provider {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .wms-discovery-service-selector {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;

        label {
            margin-right: 0.5rem;
        }

        .ant-select {
            flex-grow: 1;
        }
    }
    .wms-discovery-provider-service {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .wms-discovery-layer-list {

            .ant-list-item {
                overflow: hidden;

                .wms-discovery-layer-item {
                    .wms-layer-title {
                        font-weight: bold;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        margin-bottom: 0.5em;
                    }
                    .wms-layer-content {
                        margin-left: 0.5em;
                        .wms-layer-preview {
                            margin: 0 0 1em 1em;
                            float: right;
                        }
                    }
                }
            }
        }
    }
}
