.aoi-import {
    min-width: 320px;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;

    .aoi-source-selector {
        display: flex;

        .ant-select {
            flex-grow: 1;
        }
    }

    .data-collection-list {
        margin-top: 0.5rem;
        flex-grow: 1;
    }
}
