.dataset-vector-feature-info {
    padding: 10px 20px;

    .ant-descriptions-row {
        .ant-descriptions-item {

            padding-bottom: @padding-xss;

            .ant-descriptions-item-label {
                color: @text-color-secondary;
                .anticon {
                    color: @primary-color;
                    margin-left: 4px;
                }
            }

            .ant-descriptions-item-content {
                img {
                    max-width: 100%;
                }
            }
        }
    }

}
