.dataset-explorer-timeline {
    position: relative;
    border-top: solid 1px $border-color-base;

    .ant-btn-group {
        position: absolute;
        left: 5px;
        top: 2px;
        z-index: 10;
        background: $layout-sider-background;;
        border-radius: 4px;
        border: solid 1px $border-color-base;

        .ant-btn:not(:disabled) {
            color: white;

            &:hover {
                color: $primary-color !important;
            }
        }
    }
}
